*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(194, 118, 20);
    color: white;
    min-height: 50vh;
    display: flex;
    flex-direction: column;

    font-size: 100%;

    @media (max-width: 768px) {
      font-size: 80%;
    }
}

.barraNav{
    padding: 2em 2em;
    @media (max-width: 900px) {
        padding: 1em 1em .5em 1em;
    }
}

.primeraFila{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.icono{
    background-color: orange;
    border-radius: 5px;
    margin: .7em .3em;
    padding: .6em .7em;
}

.icono:hover {
	background-color: rgba(167, 75, 0, 0.2);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.redes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @media (max-width: 900px) {
        display: block;
    }
}

.whatsapp{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#celular{
    color: rgb(0, 0, 0);
    font-family:"montserrat", sans-serif;
    font-weight: 600;
    font-size: 120%;
    margin-left: .3em;
}

.logo img{
    position: absolute;
    left: 42%;
    top: 0;
	width: 9em;
	height: 9em;
    @media (max-width: 350px) {
        position: static;
        width: 5em;
        height: 5em;
    }
}
.textoLogo {
    position: absolute;
    opacity: 0%;
    display: none;
    @media (max-width: 350px) {
        opacity: 100%;
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin-left: 5em;
    }
}
.logoFinal {
    display: flex;
    align-items: center;
}

#carrito {
    color: black;
    font-family:"montserrat", sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
}

#carrito:active, #carrito:visited, #carrito:link {
    color: black;
    text-decoration: none;
}

.pata {
    margin: 0 .2em 0 .8em;
}

.textoCarrito span {
    display: block;
    text-align: center;
}

@media (max-width: 430px) {
    .textoCarrito {
      display: none; /* Oculta el texto cuando la pantalla es más pequeña que 600px */
    }
    .pata {
            margin:0;
    }
  }

.menu {
    position: absolute;
    display:flex;
    margin: 1em 1em .5em 2em;
}

#desplegar {
    position: relative;
    margin: auto;
}

.opciones {
     font-family: "montserrat", sans-serif;
     font-weight: 600;
     color: rgb(0, 0, 0);
     margin: 0 .3em;
     text-align: center;
}

.opciones:hover {
    color: rgb(255, 255, 255);
}

.enlace:active, .enlace:visited, .enlace:link {
    color: black;
    text-decoration: none;
}

#desplegable {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    position: relative;
    top: -5em;
    opacity: 0;
    transition: opacity .5s, top 1s;
    pointer-events: none;

    @media (max-width: 990px) {
        margin-left: 5.8em;
    }
    @media (max-width:550px) {
        display: block;
    }
}

.cuerpo {
    position: relative;
    background-image: url(recursos/background.jpg);
    background-repeat:repeat;
    min-height: 80em;   
}

.footer {
    background-color: rgb(51, 31, 2);
    margin-top: auto;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 440px) {
        display: block;
    }
}

.textoFooter {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    color: orange;
    margin: .5em 0;
}

.footerIzq {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerDer {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/************ Index ***********/

.bienvenida {
    margin: 2em 5.8em 1em 5.8em;
	background-color: rgb(255, 255, 255);
	border-radius: 25px;
	box-shadow: 2px 2px 2px rgba(34, 34, 34);
    display: block;
    align-items: center;
    text-align: center;
    @media (max-width: 990px) {
        margin-right: 0.5em;
    }

    @media (max-width: 540px) {
        margin-left: 0.5em;
    }
}

.bienvenida span {
    color: #000;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.2em;
}

.zapatosCorredizos {
    display: grid;
    padding-left: 6em;
    padding-right: 6em;
    @media (max-width: 430px) {
        padding: 0;
    }
}

#zapatoH{
	width: 16em;
    position: relative;
    left: 5em;
    top: 0;
    transition: 2s;
}

#zapatoM{
	width: 16em;
    position: relative;
    left: 5em;
    top: 0;
    transition: 2s;
}

#pataO{
	width: 16em;
    position: relative;
    left: 5em;
    top: 0;
    transition: 2s;
}

.opciones2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 5em;
    position: relative;
    top: 7em;
    left: 8em;
    text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
    @media (max-width: 430px) {
        left: 4em;
    }
}

#ozh {
    padding-right: .5em;
    color: rgb(35, 123, 224);
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
}

#ozm {
    color: rgb(201, 55, 201);
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
}

#oop {
    color: rgb(103, 212, 75);
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
}
/**Zapatos H y  M ****************************/
.grupoTarjetas {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
    color: #000;
}

.tarjeta {
	width: 16em;
	padding: 1em;
	margin: 2em;
	background-color: rgb(255, 255, 255);
	box-shadow: 2px 2px 2px rgba(34, 34, 34);
	transition: box-shadow .2s;
	border-radius: 8px;
    @media (max-width:580px) {
        width: 10em;
    }
    @media (max-width:430px) {
        padding: 0.5em;
        margin: 0.5em;
    }
}

.tarjeta:hover {
	box-shadow: 8px 8px 10px rgb(34, 34, 34);
}

.foto {
	width: 100%;
	margin: 0 auto 1em auto;
}

.genero, .articulo {
	width: 100%;
	text-align: center;
	margin: 0;
}

.adicional {
	width: 100%;
	text-align: center;
	margin: .5em;
	font-size: 1em;
}

.precio {
	color: rgb(0, 163, 0);
	width: 100%;
	text-align: center;
	margin: .5em 0 0 0;
	font-size: 2em;
}

/* *********** OFERTAS SLIDER ******** */
.container-slider{
    width: 90%;
    top: 5em;
    max-width: 600px;
    margin: auto;
    margin-top: 13px;
    overflow: hidden;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 10px .5em rgb(19, 18, 2);
}

.slider{
    display: flex;
    width: 600%;
    margin-left: -100%;
    @media (max-width:700px) {
        height: 100%;
    }
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: brown;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    @media (max-width:200px) {
        opacity: 0;
        pointer-events: none;
    }
}

.slider__btn:hover{
    background: orange;
}

.slider__btn-left{
    left: 5px;
}

.slider__btn-right{
    right: 5px;
}

/******************************* Mi Cuenta *******************/
.cuerpoOfertas {
    position: relative;
    background-color: white;
    min-height: 42em;
}
.opcionesOferta {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin: 0 .3em;
    text-align: center;
}

.opcionesOferta:hover {
   color: orange;
}

.mantenimiento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width:550px) {
        top: 60%;
    }
}

.gif {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.desarrollo {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}